<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>ACTUALIZAR PRODUCTO</h1>
                </div>
                <ul class="errores"></ul>
                <form class="flex" enctype="multipart/form-data" action="/productos/actualizar/<%= producto.id %>?_method=PUT" method="POST">
                    <div class="ancho-full centrado">
                        <input type="text" name="nombre" id="nombre" value="<%= producto.name %>"  placeholder="Nombre del Producto" >
                    </div>
                    <div class="ancho-full centrado">
                        <input type="text" name="precio" id="precio" value="<%= producto.price %>" placeholder="Precio" >
                    </div>
                    <div class="ancho-half centrado ">
                        <select type="text" name="categoria" id="categoria">
                            <% for (categoria of categorias) { %>
                                <option value="<%= categoria.id %>" 
                                    <% if (categoria.id == producto.category_id){ %>
                                        selected> <% } else { %> >
                                            <% } %>
                                        <%= categoria.name %></option>
                            <% } %>
                    </select>
                    <div class="ancho-full centrado">
                        <textarea class="ancho-full centrado" name="descripcion" id="comentario" placeholder="Descripción del producto"><%= producto.description %></textarea>
                    </div>
                    <div class="ancho-full centrado">
                        <img src="/img/<%= producto.image %>">
                    </div>
                    <div class="ancho-full centrado">
                        <input type="file" name="foto" id="foto" placeholder="Foto de Producto" accept=".jpg, .png" >
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="actualizar">Actualizar producto</button>
                    </div>
                </form>
                <form class="flex" action="/productos/eliminar/<%= producto.id %>?_method=DELETE" method="POST" onsubmit="return confirm('Seguro desea eliminar este producto?');">
                    <div class="ancho-full centrado">
                        <button type="submit" id="eliminar">Eliminar producto</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>  
        <!-- <%- include('../partials/footer.ejs') %> -->
        <script src="/js/productUpdateValidator.js"></script>
    </body>
</html>