<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>ACTUALIZAR PRODUCTO</h1>
                </div>
                <form class="flex" enctype="multipart/form-data" action="/productos/actualizar/<%= producto.id %>" method="POST">
                    <div class="ancho-full centrado">
                        <input type="text" name="nombre" id="nombre" value="<%= producto.nombre %>"  placeholder="Nombre del Producto" required>
                    </div>
                    <div class="ancho-full centrado">
                        <input type="text" name="precio" id="precio" value="<%= producto.precio %>" placeholder="Precio" required>
                    </div>
                    <div class="ancho-full centrado">
                        <textarea class="ancho-full centrado" name="descripcion" id="comentario" placeholder="Descripción del producto"><%= producto.descripcion %></textarea>
                    </div>
                    <div class="ancho-full centrado">
                        <img src="/img/<%= producto.imagen %>">
                    </div>
                    <div class="ancho-full centrado">
                        <input type="file" name="foto" id="foto" placeholder="Foto de Producto" accept=".jpg, .png">
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="actualizar">Actualizar producto</button>
                    </div>
                </form>
                <form class="flex" action="/productos/eliminar/<%= producto.id %>" method="POST">
                    <div class="ancho-full centrado">
                        <button type="submit" id="eliminar">Eliminar producto</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>  
        <!-- <%- include('../partials/footer.ejs') %> -->
    </body>
</html>