<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>CREAR PRODUCTO</h1>
                </div>
                <ul class="errores"></ul>
                <form class="flex" action="/productos/crear" enctype="multipart/form-data" method="POST">
                    <div class="ancho-full centrado">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre del Producto" required> 
                    </div>
                    <div class="ancho-full centrado">
                        <input type="text" name="precio" id="precio" placeholder="Precio" required >
                    </div>
                    <div class="ancho-full centrado">
                        <textarea class="ancho-full centrado" name="descripcion" id="comentario" placeholder="Descripción del producto" required ></textarea>
                    </div>
                    <div class="ancho-half centrado ">
                        <select type="text" name="categoria" id="categoria" required>
                            <% for (categoria of categorias) { %>
                                <option value="<%= categoria.id %>"><%= categoria.name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="ancho-full centrado">
                        <input type="file" name="foto" id="foto" placeholder="Foto de Producto" accept=".jpg, .png" required >
                    </div>
                    <div class="ancho-full centrado">
                        <h3>Ingredientes</h3>
                        <div class="flex">
                            <% for (ingrediente of ingredientes) { %>
                            <div class="ancho-quarter centrado ingrediente">
                                <input type="checkbox" id="ingrediente<%= ingrediente.id %>" name="ingredientes[]" value="<%= ingrediente.id %>">
                                <label for="ingrediente<%= ingrediente.id %>"><%= ingrediente.name %></label>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="crear">Crear</button>
                    </div>
                    <div class="ancho-full espaciado">
                        <div>
                            <a href="javascript:history.back()">Volver</a>
                        </div>
                    </div>
                </form>
            </section>
        </main>  
        <%- include('../partials/footer.ejs') %>
        <script src="/js/productCreateValidator.js"></script>
    </body>
</html>