<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>


<body>
    <%- include ('../partials/header.ejs') %>

    <main id="productos">
        <div class="ancho-full centrado">
            <h1>NUESTROS PRODUCTOS 
                <% if (locals.user && locals.user.is_admin){ %>
                     | <a href="/productos/crear"><i class="fas fa-plus"></i></a>
                <% } %>
            </h1>
        </div>
        <section class="flex">
            <% for(producto of productos){ %>
              <article class="ancho-half">
                <div class="ancho-full productos-imagen" style="background-image: url('/img/<%= producto.image %>');">
                </div>
                <div class="ancho-full">
                    <div class="ancho-full espaciado detalle"> 
                    <div class="nombre"><%= producto.name %></div>
                    <div class="precio">$<%= producto.price %></div>
                    </div>
                    <div class="ancho-full espaciado categoria"> 
                        <div class="tag"><%= producto.category.name %></div>
                    </div>
                    <div class="ancho-full espaciado" >
                        <% if (locals.user){ %>
                            <!-- SE AGREGA INPUT CANTIDAD -->
                            <p>Cantidad:</p>
                            <input class="cantidadInput" type="number" name="cantidad" id="cantidad">

                          <button id="boton-agregar-<%= producto.id %> " class="ancho-half" type="button" data-pid="<%= producto.id %>" onclick="agregarAlCarrito(this)">Agregar<i class="fas fa-cart-plus"></i></button>
                        <% } %>
                        <a href="/productos/<%= producto.id %>">
                            <button class="ancho-half">Ver mas</button>
                        </a> 
                    </div>
            </div>
            </article>  
            <% } %>
        </section>
    </main>
    <%- include ('../partials/footer.ejs') %>
    <script type="text/javascript" src="/js/cookies.js"></script>
    <script type="text/javascript" src="/js/carrito.js"></script>
</body>
</html>