<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main id="producto" class="flex">
            <article class="ancho-full centrado">
                <div class="ancho-quarter centrado">
                    <img src="/img/<%= producto.imagen %>" alt="Imagen de Producto">
                </div>
                <div class="ancho-half centrado">
                    <h1><%= producto.nombre %> | <a href="/producto/actualizar/1"><i class="fas fa-edit"></i></a></h1>
                    <div class="ancho-full centrado"><%= producto.descripcion %></div>
                    <div class="ancho-full centrado">$ <%= producto.precio %></div>
                    <div class="centrado">
                        <button>Agregar</button>
                    </div>
                </div>
            </article>
        </main>

        <!-- <%- include('../partials/footer.ejs') %> -->
    </body>
</html>