<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main id="producto" class="flex">
            <article class="ancho-full centrado">
                <div class="ancho-quarter centrado">
                    <img src="/img/<%= producto.image %>" alt="Imagen de Producto">
                </div>
                <div class="ancho-half centrado">
                    <h1><%= producto.name %>
                        <% if (locals.user && locals.user.admin){ %>
                             | <a href="/productos/actualizar/<%= producto.id %>"><i class="fas fa-edit"></i></a>
                        <% } %>
                    </h1>
                    <div class="ancho-full centrado"><%= producto.description %></div>
                    <div class="ancho-full centrado">$ <%= producto.price %></div>
                    <% if (locals.user){ %>
                        <div class="centrado">
                            <button>Agregar</button>
                        </div>
                    <% } %>
                </div>
            </article>
        </main>

        <!-- <%- include('../partials/footer.ejs') %> -->
    </body>
</html>