<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

    <body>
        <%- include('../../partials/header.ejs') %>
        <main class="admin">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>
                        <%= title %> <!--imprimo el titulo que le paso en el render del controller-->
                    </h1>
                </div>
                <div class="ancho-full centrado">

                    <!-- 
                        
                        por cada usuario que recibo del render hago un <li> que tiene etiquetas 
                        con los datos de usuario y dos form, alternar permisos(put) y eliminar(delete) 

                     -->

                    <ul>
                    <% for (usuario of usuarios) { %> 
                        <li>
                            <div>
                                <div><%= usuario.name %> <%= usuario.lastname %></div>
                                <div><%= usuario.email %></div>
                            </div>
                            <div class="botones">
                                <form action="/admin/usuarios/<%= usuario.id %>?_method=PUT" method="post">
                                    <button type="submit">
                                        <% if (usuario.is_admin == 1){ %>
                                            <i class="fas fa-user-minus"></i>
                                        <% } else { %>
                                            <i class="fas fa-user-shield"></i>
                                        <% } %>
                                    </button>
                                </form>
                                <form action="/admin/usuarios/<%= usuario.id %>?_method=DELETE" method="post">
                                    <button type="submit"><span class="fas fa-trash"></span></button>
                                </form>
                            </div>
                        </li>
                    <% } %>
                    </ul>
                </div>
            </section>
        </main>
        <%- include('../../partials/footer.ejs') %>
    </body>

</html>