<!-- <!DOCTYPE html>
<html lang="en">
    <head class="header">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <title>Home</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/style-solo-header.css"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">   
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body> 

       <%- include('./partials/header.ejs') %>   -->
<!DOCTYPE html>
    <html lang="en">
        <%- include('./partials/head.ejs') %>
        <body>
            <%- include('./partials/header.ejs') %>                   
    <main> 

            <section class="Image-slide">
                
                <div class="box1">
                    <img class="slider"
                        id="image"
                        src="/img/slider.png" 
                        alt="foto del slider"
                    />
                    <div class="texto"> 
                        
                        <h3>Bienvenidos a Sucre Pasteleria cosas ricas 
                            cuando quieras y donde  quieras</h3>

                            
                    </div>

                        
                        <a class="boton-personalizado-1" href="#">VER MAS</a> 
                        

                </div>

                

            </section>
            
        <section class="Menu-preview">
            <% for(producto of productos){ %>

            <div class="box2"><a href="http://localhost:3000/productos/<%= producto.id %>">
                <img class="img1"
                id="image"
                src="/img/<%= producto.image %>"
                alt="foto de torta balcase"
                
                /></a>   
                

                <div class="texto-menu"> <%= producto.name %></div>
                <div class="subtexto-menu"><strong>$<%= producto.price %></strong></div>
            </div>
            
            <% } %>  
        </section>
        <div class="boton1">
                
            <a class="boton-vermas1" href="#">VER MAS</a> 
        </div> 
        <section class="second-preview">

            <div>
                <img class="img2"
                    id="image"
                    src="/img/delicias.jpg"
                     alt="Delicias Alternativas"
                />
            </div>

            <div class="texto2"> Delicias Alternativas </div>

            <div>

            <a class="boton-vermas2" href="#">VER MAS</a> 
            </div>

        </section>


        <section class="third-preview">

                <div class="img3">

                    <img class="slider-item"
                        id="image"
                        src="/img/muestra.png"
                     alt="foto local"
                    />
                
                </div>
                
            
            

                <div class="historia">
                    <h3>"Los productos se realizan con las mejores materias primas, sin conservantes ni colorantes, combinando sabores y técnicas propias. 
                      Nos encanta innovar, buscar nuevas recetas, probar una y otra vez hasta lograr un producto diferente. 
                      Tenemos pasión por lo que hacemos. Es por eso que cada torta lleva lo mejor de nosotras/os."
                    </h3>
                </div>
                <div class="mision">

                    <br>
                    <h2>Nuestra Misión</h2>
                    <br>

                        <ul>
                        <li>Difundir, Promover e Informar sobre las verdaderas características de la Pastelería Artesanal</li>
                        <br>
                        <li>Concientizar acerca de la importancia del consumo de Pastelería elaborada y producida por verdaderos maestros pasteleros.</li>
                        <br>
                        <li>Brindar todo el conocimiento para poder distinguir y acceder al intenso mundo del color, sabor y aromas, tan particulares 
                            que nos brinda la verdadera Pastelería Artesanal.</li>
                        <br>
                        <li>Comunicar y transmitir, toda la información conducente al deleite y la exquisita sensualidad del verdadero arte de la Pastelería.</li>
                        <br>
                        </ul>

                </div>
                    
        </section>    
             



        
        </main> 
        <%- include('./partials/footer.ejs') %>

    </body>
</html>



