<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>PERFIL DE USUARIO</h1>
                </div>
                <form class="flex" action="/usuarios/actualizar/" method="POST">
                    <div class="ancho-full centrado">
                        <h3>Datos generales</h3>
                    </div>
                    <div class="ancho-full centrado">
                        <input type="email" name="email" id="email" value="<%= usuario.email %>" placeholder="Correo electronico" disabled>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre" value="<%= usuario.name %>" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="apellido" id="apellido" placeholder="Apellido" value="<%= usuario.lastname %>" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="fechadenacimiento" id="fechadenacimiento"
                            placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" value="<%= usuario.birthday %>" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="tel" name="telefono" id="telefono" placeholder="Telefono" value="<%= usuario.phone %>" required>  
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="text" name="calleyaltura" id="calleyaltura" placeholder="Calle y altura" value="<%= usuario.address %>" required>
                    </div>
                    <div class="ancho-half espaciado ">
                        <div class="ancho-quarter centrado ">
                        <input type="number" name="piso" id="piso" placeholder="Piso" value="<%= usuario.floor %>" required maxlength="2"> 
                        </div>
                        <div class="ancho-quarter  centrado ">
                            <input type="text" name="dpto" id="dpto" placeholder="Dpto" value="<%= usuario.apartment %>"required maxlength="1"> 
                        </div>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="actualizar">Actualizar</button>
                    </div>
                </form>
            </section>
            <section class="flex">
                <form class="flex" action="/usuarios/password/" method="POST">
                    <div class="ancho-full centrado">
                        <h3>Actualizar contraseña</h3>
                    </div>
                    <div class="ancho-half centrado">
                        <input type="password" name="password" id="password-actual" placeholder="Contraseña actual" required>
                    </div>
                    <div class="ancho-half centrado">
                        <input type="password" name="password" id="password-nueva" placeholder="Nueva contraseña" required>
                    </div>
                    <div class="ancho-half centrado ">
                        <input type="password" name="password" id="password-repetir" placeholder="Repetir nueva contraseña" required>
                    </div>
                    <div class="ancho-full centrado">
                        <button type="submit" id="actualizar">Actualizar contraseña</button>
                    </div>
                </form>
            </section>
            <section id="historial-pedidos">
                <div class="ancho-full centrado">
                    <h3>Historial de pedidos</h3>
                </div>
                <article class="pedido">
                    <div class="pedido-encabezado">
                        <div>Pedido #1235 - 01/01/2023</div>
                        <div><i class="fas fa-minus"></i></div>
                    </div>
                    <div class="pedido-detalle">
                        <div class="pedido-item">
                            <img class="item-imagen" src="/img/mousse-cake.png" alt="Imagen del producto">
                            <div class="item-titulo">Torta Mousse</div>
                            <div class="item-unitario"><span>Precio:</span>$100.00</div>
                            <div class="item-cantidad"><span>Cantidad:</span>2</div>
                            <div class="item-subtotal"><span>Subtotal:</span>$200.00</div>
                        </div>
                        <div class="pedido-item">
                            <img class="item-imagen" src="/img/balcarce-cake.png" alt="Imagen del producto">
                            <div class="item-titulo">Torta Balcarce</div>
                            <div class="item-unitario"><span>Precio:</span>$ 50.00</div>
                            <div class="item-cantidad"><span>Cantidad:</span>1</div>
                            <div class="item-subtotal"><span>Subtotal:</span>$ 50.00</div>
                        </div>
                    </div>
                        <div class="pedido-total">Total: $ 250.00</div>
                </article>
                <article class="pedido">
                    <div class="pedido-encabezado">
                        <div>Pedido #2359 - 21/06/2023</div>
                        <div><i class="fas fa-plus"></i></div>
                    </div>
                </article>
                
            </section>
        </main>
        <footer>

        </footer>
        <!-- <%- include('../partials/footer.ejs') %> -->
    </body>
</html>