<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

    <body>
        <%- include('../../partials/header.ejs') %>
        <main class="admin">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>
                        <%= title %>
                    </h1> <!--imprimo el titulo que le paso en el render del controller-->
                </div>
                <div class="ancho-full centrado">
                     <!--imprimo el titulo que le paso en el render del controller-->
                    <form class="mini-form" action="/admin/ingredientes/" method="post">
                        <div>
                            Crear Ingrediente
                        </div>
                        <input name="nombre" type="text" placeholder="Ingrese nombre" required>
                        <button type="submit"><span class="fas fa-plus"></span></button>
                    </form>
                </div>
                <ul>
                <% for (ingrediente of ingredientes) { %> <!-- Realizo un ciclo for of de las ingredientes -->
                    <li>
                        <div class="actualizar">
                            <form id="form.ing-<%= ingrediente.id %>" action="/admin/ingredientes/<%= ingrediente.id %>?_method=PUT" method="post">
                                <input name="nombre" type="text" value="<%= ingrediente.name %>">
                                
                            </form>
                        </div>
                        <div class="botones">
                            <button form="form.ing-<%= ingrediente.id %>" type="submit"><span class="fas fa-edit"></span></button>
                            <form action="/admin/ingredientes/<%= ingrediente.id %>?_method=DELETE" method="post">
                                <button type="submit"><span class="fas fa-trash"></span></button>
                            </form>
                        </div>
                        
                        
                    </li>
                <% } %>
                </ul>
            </section>
        </main>
        <%- include('../../partials/footer.ejs') %>
    </body>

</html>