<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

    <body>
        <%- include('../../partials/header.ejs') %>
        <main class="admin">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>
                        <%= title %> <!--imprimo el titulo que le paso en el render del controller-->
                    </h1> 
                </div>
                <div class="ancho-full centrado">

                        <!--
                        
                        Formulario de crear ingrediente
                    
                    -->
                    <form class="mini-form" action="/admin/ingredientes/" method="post">
                        <div>
                            Crear Ingrediente
                        </div>
                        <input name="nombre" type="text" placeholder="Ingrese nombre" required>
                        <button type="submit"><span class="fas fa-plus"></span></button>
                    </form>
                </div>

                    <!--

                        Con un for of imprimo para cada ingrediente un formulario(put) para actualizar el nombre
                       y un form (delete) para eliminarlo.
                       El boton de submit del actualizar esta afuera del form para mejorar la alineacion
                       por eso tiene el atributo form="form-ing-_idingrediente_" que es el id del formulario
                       para submitearlo.
                    
                    -->

                <ul>
                <% for (ingrediente of ingredientes) { %> 
                    <li>
                        <div class="actualizar">
                            <form id="form-ing-<%= ingrediente.id %>" action="/admin/ingredientes/<%= ingrediente.id %>?_method=PUT" method="post">
                                <input name="nombre" type="text" value="<%= ingrediente.name %>" required>
                                
                            </form>
                        </div>
                        <div class="botones">
                            <button form="form-ing-<%= ingrediente.id %>" type="submit"><span class="fas fa-edit"></span></button>
                            <form action="/admin/ingredientes/<%= ingrediente.id %>?_method=DELETE" method="post">
                                <button type="submit"><span class="fas fa-trash"></span></button>
                            </form>
                        </div>
                        
                        
                    </li>
                <% } %>
                </ul>
            </section>
        </main>
        <%- include('../../partials/footer.ejs') %>
    </body>

</html>