<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

    <body>
        <%- include('../../partials/header.ejs') %>
        <main class="admin">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>
                        <%= title %> | <form action="/productos/crear" method="get">
                            <button type="submit"><span class="fas fa-plus"></span></button>
                        </form>
                    </h1> <!--imprimo el titulo que le paso en el render del controller-->
                </div>
                <ul>
                <% for (producto of productos) { %> <!-- Realizo un ciclo for of de los productos -->
                    <li>
                        <div>
                            <%= producto.name %>
                        </div>
                        <div class="botones">
                            <form action="/productos/<%= producto.id %>" method="get">
                                <button type="submit"><span class="fas fa-eye"></span></button>
                            </form>
                            
                            <form action="/productos/actualizar/<%= producto.id %>" method="get">
                                <button type="submit"><span class="fas fa-edit"></span></button>
                            </form>
                            <form action="/admin/productos/<%= producto.id %>?_method=DELETE" method="post">
                                <button type="submit"><span class="fas fa-trash"></span></button>
                            </form>
                        </div>
                    </li>
                <% } %>
                </ul>
            </section>
        </main>
        <%- include('../../partials/footer.ejs') %>
    </body>

</html>