<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

    <body>
        <%- include('../../partials/header.ejs') %>
        <main class="admin">
            <section class="flex">
                <div class="ancho-full centrado">
                    <h1>
                        <%= title %>
                    </h1> <!--imprimo el titulo que le paso en el render del controller-->
                </div>
                <div class="ancho-full centrado">
                     <!--imprimo el titulo que le paso en el render del controller-->
                    <form class="mini-form" action="/admin/categorias/" method="post">
                        <div>Crear Categoria</div>
                        <input name="nombre" type="text" placeholder="Ingrese nombre" required>
                        <button type="submit"><span class="fas fa-plus"></span></button>
                    </form>
                </div>
                <ul>
                <% for (categoria of categorias) { %> <!-- Realizo un ciclo for of de las categorias -->
                    <li>
                        <div class="actualizar">
                            <form id="form-cat-<%= categoria.id %>" action="/admin/categorias/<%= categoria.id %>?_method=PUT" method="post">
                                <input name="nombre" type="text" value="<%= categoria.name %>">
                            </form>
                        </div>
                        <div class="botones">
                            <button form="form-cat-<%= categoria.id %>" type="submit"><span class="fas fa-edit"></span></button>
                            <form action="/admin/categorias/<%= categoria.id %>?_method=DELETE" method="post">
                                <button type="submit"><span class="fas fa-trash"></span></button>
                            </form>
                        </div>
                    </li>
                <% } %>
                </ul>
            </section>
        </main>
        <%- include('../../partials/footer.ejs') %>
    </body>

</html>